<pool type='dir'>
  <name>default22</name>
  <uuid>10b2f1e9-297b-4a23-936b-d7bdab41e0ac</uuid>
  <capacity unit='bytes'>0</capacity>
  <allocation unit='bytes'>0</allocation>
  <available unit='bytes'>0</available>
  <source>
  </source>
  <target>
    <path>/opt</path>
    <permissions>
      <mode>0755</mode>
    </permissions>
  </target>
</pool>

