<network>
  <name>default22</name>
  <uuid>2a523633-4e05-4caa-addd-8442cafa357a</uuid>
  <forward mode='nat'/>
  <bridge name='virbr4' stp='on' delay='0'/>
  <mac address='32:54:00:bd:92:5c'/>
  <ip address='192.168.162.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.162.2' end='192.168.162.254'/>
    </dhcp>
  </ip>
</network>

